.steps {
    width:100%;
    aspect-ratio: 900/80;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.text-posts {
    color: #ED1619 !important;
}

.text-articles {
    color: #009935 !important;
}

.text-podcast {
    color: #003399 !important;
}

#rogueplanetoid-navbar .nav-link.active {
    font-weight:600;
}

#rogueplanetoid-breadcrumb .breadcrumb-item.active {
    font-weight:600;
}

#rogueplanetoid-breadcrumb .breadcrumb-item a {
    text-decoration: none!important;
}

.steps-black {
    background-image: url('../images/steps-black.svg');
}

.steps-posts {
    background-image: url('../images/steps-posts.svg');
}

.steps-articles {
    background-image: url('../images/steps-articles.svg');
}

.steps-podcast {
    background-image: url('../images/steps-podcast.svg');
}

.bg-cespage {
    background-color: #830088;
}

.bg-black {
    background-color: #000000;
}

.bg-posts {
    background-color: #ED1619;
}

.bg-articles {
    background-color: #009935;
}

.bg-podcast {
    background-color: #003399;
}

.bg-white {
    background-color: #ffffff;
}

.btn-posts {
    color:#ffffff!important;
    background-color:#ED1619!important;
    border-color:#ED1619!important;
}
.btn-posts:hover{
    background-color:#f25053!important;
    border-color:#f25053!important;
}

.btn-posts-inverse {
    color:#ED1619!important;
    background-color:#ffffff!important;
    border-color:#ffffff!important;
}
.btn-posts-inverse:hover{
    background-color:#f25053!important;
    border-color:#f25053!important;
    color:#ffffff!important;
}

.btn-articles {
    color:#ffffff!important;
    background-color:#009935!important;
    border-color:#009935!important;
}
.btn-articles:hover{
    background-color:#35b44e!important;
    border-color:#35b44e!important;
}

.btn-articles-inverse {
    color:#009935!important;
    background-color:#ffffff!important;
    border-color:#ffffff!important;
}
.btn-articles-inverse:hover{
    background-color:#35b44e!important;
    border-color:#35b44e!important;
    color:#ffffff!important;
}

.btn-podcast {
    color:#ffffff!important;
    background-color:#003399!important;
    border-color:#003399!important;
}
.btn-podcast:hover{
    background-color:#3366cc!important;
    border-color:#3366cc!important;
}

.text-fg-black a {
    color:#000000!important;
    text-decoration: none!important;
}

.link {
    text-decoration: none!important;
    color:#000000!important;
}

.posts .nav a, .nav .posts a:link, .nav .posts a:visited, .nav .posts a:hover, .nav .posts a:active {
    color: #ED1619!important;
}

.articles .nav a, .nav .articles a:link, .nav .articles a:visited, .nav .articles a:hover, .nav .articles a:active {
    color: #009935!important;
}

.podcast .accordion a, .accordion .podcast a:link, .accordion .podcast a:visited, .accordion .podcast a:hover, .accordion .podcast a:active {
    color: #003399!important;
}

.podcast .accordion { 
    --bs-accordion-active-color:#ffffff!important;
    --bs-accordion-active-bg:#003399!important;
    --bs-accordion-btn-active-icon:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}